{% load i18n %}
<div class="navbar main-nav">
    <p class="catalog">{% trans "Каталог товаров" %}</p>
    <div class="navbar-inner">
    <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">{% trans "Menu" %}</a>
    <div class="nav-collapse">
    <ul class="nav">
        {% for tab in tabs1 %}<li><a href="{{ tab.link }}">{{ tab.title }}</a><span class="catalog_border"></span></li>{% endfor %}
    </ul>
    {% if tabs2 %}
 
    {% endif %}
    </div>
    </div>
    </div>
</div>