<div id="slider-block">
    
    <div class="slider-wrapper">
        <div id="index_slider" class="nivoSlider">
            <img src="/static/img/test1.png" alt="" title="#data1" />
            <img src="/static/img/test2.png" alt="" title="#data2" />
            <img src="/static/img/test3.png" alt="" title="#data3" />
             <img src="/static/img/2.png" alt="" title="#data4" />
        </div>
    </div>
</div>
<script type="text/javascript">
$(window).load(function() {
    $('#index_slider').nivoSlider({
        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
        //slices: 15, // For slice animations
        boxCols: 8, // For box animations
        boxRows: 4, // For box animations
        animSpeed: 500, // Slide transition speed
        pauseTime: 4000, // How long each slide will show
        //startSlide: 0, // Set starting Slide (0 index)
        directionNav: false, // Next & Prev navigation
        controlNav:true, // 1,2,3... navigation
        //controlNavThumbs: true, // Use thumbnails for Control Nav
        //pauseOnHover: true, // Stop animation while hovering
        manualAdvance: false, // Force manual transitions
        //prevText: 'Prev', // Prev directionNav text
        //nextText: 'Next', // Next directionNav text
        randomStart: false, // Start on a random slide
        //beforeChange: function(){}, // Triggers before a slide transition
        //slideshowEnd: function(){}, // Triggers after all slides have been shown
        //lastSlide: function(){}, // Triggers when last slide is shown
    });
});

</script>

