{% load i18n %}
{% load l10n %}
{% load lfs_tags %}
<div class="row-fluid">
<div class="span12 reviews">
    {% if reviews %}
        {% for review in reviews %}
            <div class="review" itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">{% localize off %}
                <ul class="star-rating small-star inline-rating">
                    <li class="current-rating"
                        style="width:{{review.score|multiply:10}}px">
                        Currently 3/5 Stars
                    </li>
                </ul>{% endlocalize %}
        
                {% if review.email and review.user_name %}                    
                    <a href="mailto:{{review.email}}">{{review.user_name}}</a>,
                {% else %}
                    {% if review.user_name %}
                        {{ review.user_name }},
                    {% else %}
                        {% trans 'Anonymous' %},
                    {% endif %}
                {% endif %}
                 {{ review.creation_date|date:"d. F Y" }}
            </div>    
            <div>        
                {{ review.comment|linebreaks }}
            </div>    
        {% endfor %}
    {% else %}
        <div class="alert alert-info">
            {% trans 'There are no ratings for this product. Be the first one!' %}
        </div>
    {% endif %} 
    {% if has_rated %}
        <div class="alert alert-info">
            {% trans 'You have already rated' %}
        </div>
    {% else %}
        <div class="buttons">
            <a class="btn" href="{% url reviews_add content_type_id content_id %}">{% trans 'Добавить отзыв' %}</a>
        </div>
    {% endif %}
</div>
</div>