{% load i18n lfs_tags sshop_tags %}

{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
<table class="table">
    {% for product in products %}
    {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item">
        <div class="row-fluid">
        <div class="span12">
        <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
        </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>                        
            </div>
            <div class="span6">
                <div class="product-description">{{ product.get_short_description|safe }}</div>

                {% comment %}
                <div class="product-statuses">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}                
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                </div>
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>                
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.is_deliverable %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form" method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <span>{% trans 'кол-во:'  %}<input class="input-small inline" name="quantity" type="text" value="1" /></span>
            <button class="btn btn-danger buy">{% trans "Add to cart" %}</button>
            </form>
            {% endif %}

            {% endcomment %}
            </div>
        </div>
        </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
</table>
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}